body{
	background-image: url("https://wallpapertag.com/wallpaper/full/e/7/f/405133-tumblr-backgrounds-quotes-1920x1080-windows-10.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;

}

.navbar{
    background-color: rgba(106, 16, 120);

}
.introduction{
  background-color: rgba( 16, 16, 15, 0.6)
 

}
.containerone{
	width: 80%; 
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: blue;
}

nav a::before {
    content: '';
    display: block;
    height: 2px;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 80%;
}
.highlights{
	padding: 40px; 
	background-color:#E4C5FA;

}


